<h2 style="color:green">Page One content goes here, this was dynamically loaded.</h2>

<p>
    This a test to see how well bing translate works. 
    If you choose to display the widget then any visitor to your site can invoke translation by clicking it (manual). 
    In addition you may choose to have the translation toolbar appear to visitors whose browser language is different 
    than your site language and offer to translate the page (notify) or to do so automatically (auto), 
    in which case displaying the widget is optional. 
</p>