/*desktop view*/
@media all and  (min-width: 680px) {
  .sidemenu {
    float: left;

  }

    .main-content {
        margin-left: 300px;
    }

}


/*mobile view*/
@media all and  (max-width: 680px) {
  .sidemenu {
    margin: 0px 0px 0px 0px;
  }
}